.configHeader{
    height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.fullMenu{
    height: 60px;
    padding: 0 35px 0 27px;
    display: flex;
}
.menuPerson{
    margin: 21px 0 18px 0;
    display: flex;
}
.menuMen{
    margin-right: 36px;
    width: 31px;
    height: 21px;
    top: 13.5;
    left: calc(50% - 31px/2 - 267.09px);
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.menuWomen{
    margin-right: 509px;
    width: 57px;
    height: 21px;
    left: calc(50% - 57px/2 - 187.09px);
    top: 13.5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.logoImg{
    margin: 11px 285px 11px 0;
}
.iformMenu{
    display: flex;
    margin: 21px 0 18px 0;
}
.iform_1{
    margin-right: 30px;
    height: 21px;
    left: 39.6%;
    right: 41.34%;
    top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}
.iform_2{
    height: 21px;
    left: 63.5%;
    right: 27.46%;
    top: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1.7px;
    text-transform: uppercase;

}
.iconMenu{
    display: flex;
    margin: 19px 0 16px 21px;
}
.icon_1{
    margin-right: 21px ;
}
.icon_2{
    margin-right: 16px;
}